<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>A Visualization of our President's Speech Patterns Using D3</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>

    <body>
    
      <div class="row">
        <div class="span7 text-center">
          <svg></svg>
        </div>
      </div>

      <div class="row">
        <div class="span7 text-center">
          <div class="btn-group">
            <button type="button" id="god" class="btn btn-default">God</button>
            <button type="button" id="economy" class="btn btn-default">Economy</button>
            <button type="button" id="war" class="btn btn-default">War</button>
          </div>
        </div>
      </div>

        <script>
          presidentStats = [];

          var rawDataParser = function(presidentsJSON) {
            var result = [];
            for(var president in presidentsJSON) {
              potus = presidentsJSON[president];
              potus.date = parseInt(potus.date.slice(0,4));
              potus.flesch_kincaid_level = 0.39 * (potus.total_word_count/potus.total_sentence_count) + 11.8 * (potus.total_syllable_count/potus.total_word_count) - 15.59;
              var new_obj = presidentsJSON[president];
              new_obj.name = president;
              result.push(new_obj);
            }
            return result;
          };

          $.getJSON("data/stats.json", function(presidentsJSON) {
            presidentStats = rawDataParser(presidentsJSON);
            flesch_kincaid(presidentStats);
          });

        </script>

        <script type="text/javascript" src="js/flesch_kincaid_level.js"></script>
         <script type="text/javascript" src="public/js/mention_of_x.js"></script>
        
    </body>
</html>