<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>A Visualization of our President's Speech Patterns Using D3</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    </head>

    <body>

        <script type="text/javascript" src="js/flesch_kincaid_level.js"></script>
    </body>
</html>