body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}


.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.label {

}

.tooltip {
  position: absolute;
  width: 250px;
  height: 28px;
  pointer-events: none;
}