body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.tooltip {
  position: absolute;
  width: 250px;
  height: 28px;
  top: 900px;
  pointer-events: none;
}

svg .democrat, .republican, .no-party {
  stroke-width: 4;
  fill-opacity: .5;
}

svg .democrat {
  fill: blue;
  stroke: blue;
}

svg .republican {
  fill: red;
  stroke: red;
}

svg .no-party {
  fill: green;
  stroke: green;
}
